@{
    ViewData["Title"] = "Home Page";
}


<div class="container text-center">
    <h1 class="display-3">Welcome to</h1>
    <h6 class="display-3 display-small mb-3">dslr by achoquel</h6>
    <div class="row d-flex justify-content-center mt-100">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mt-2">Upload your dataset</h5>
                </div>
                <div class="card-body">
                    <form asp-controller="Charts" asp-action="Index" method="post" enctype="multipart/form-data" class="mt-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="datasetFile" name="datasetFile" accept=".csv" required>
                            <label class="custom-file-label" for="customFile">Upload your dataset (.csv)</label>
                        </div>
                        <input type="submit" class="btn btn-dark btn mt-3" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
