@model ChartsIndexViewModel

@{
    ViewData["Title"] = "Visualization";

    //We pre-generate our selectboxes to avoid code duplication
    string courseOptionList = "<option value='-1' selected disabled>Select a course</option>";
    for (int i = 0; i < Model.Courses.Count; ++i)
    {
        courseOptionList += $"<option value='{i}'>{Model.Courses[i]}</option>";
    }
}

<div id="chartsIndex" class="container">
    <h1 class="display-3 text-center">Data Visualization</h1>
    <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="histogram-tab" data-toggle="tab" href="#histogram" role="tab" aria-controls="histogram" aria-selected="true"><i class="far fa-chart-bar"></i> Histograms</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="scatter-tab" data-toggle="tab" href="#scatter" role="tab" aria-controls="scatter" aria-selected="false"><i class="far fa-chart-scatter"></i> Scatter plots</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pairplot-tab" href="#" role="tab" aria-selected="false"><i class="fal fa-th"></i> Pair plot</a>
        </li>
        <li class="nav-item ml-auto" role="presentation">
            <a class="nav-link" id="train-tab" data-toggle="tab" href="#train" role="tab" aria-controls="train" aria-selected="false"><i class="fas fa-cogs"></i> Train</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="histogram" role="tabpanel" aria-labelledby="histogram-tab">
            <h3 class="display-4 display-small text-center mt-3">Repartition of the notes between houses for a specific course</h3>
            <div class="form-group mt-3 mb-3">
                <label for="histogramCourseSelector" class="col-form-label col-form-label-lg">Course</label>
                <select class="form-control form-control-lg" id="histogramCourseSelector">
                    @Html.Raw(courseOptionList)
                </select>
            </div>
            <div class="col-12" id="histogramChart">

            </div>
        </div>
        <div class="tab-pane fade" id="scatter" role="tabpanel" aria-labelledby="scatter-tab">
            <h3 class="display-4 display-small text-center mt-3">Repartition of the notes between two courses among houses</h3>
            <div class="row justify-content-md-center">
                <div class="form-group mt-3 mb-3 col-5 mr-1">
                    <label class="col-form-label col-form-label-lg" for="scatterCourse1Selector">First course</label>
                    <select class="form-control form-control-lg" id="scatterCourse1Selector">
                        @Html.Raw(courseOptionList)
                    </select>
                </div>
                <div class="form-group mt-3 mb-3 col-5 ml-1">
                    <label for="scatterCourse2Selector" class="col-form-label col-form-label-lg">Second course</label>
                    <select class="form-control form-control-lg" id="scatterCourse2Selector">
                        @Html.Raw(courseOptionList)
                    </select>
                </div>

            </div>

            <div class="col-12" id="scatterChart">

            </div>
        </div>
        <div class="tab-pane fade" id="train" role="tabpanel" aria-labelledby="train-tab">
            <h3 class="display-4 display-small text-center mt-3">Train the model using this dataset</h3>
            <div class="form-group mt-3 mb-3">
                <form id="trainForm" asp-controller="Train" asp-action="Index" method="post">
                    <div class="form-group">
                        <label for="epochsInput">Epochs</label>
                        <input type="number" class="form-control" name="epochsInput" step="1" id="epochsInput" placeholder="1500" min="10" max="100000" value="1500" />
                    </div>
                    <div class="form-group">
                        <label for="lrInput">Learning Rate</label>
                        <input type="number" class="form-control" step="any" name="lrInput" id="lrInput" placeholder="0.1" min="0.0001" max="10" value="0.1" />
                    </div>
                    <input type="submit" class="btn btn-dark" name="learnSubmit" id="learnSubmit" />
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="trainingModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container text-center">
                        <div id="spinnerTraining" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span id="spinnerTraining" class="display-4 display-small">
                            <br>
                            Training the model.
                            <br>
                            This may take some time...
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
